body{
    background-color: rgb(219, 170, 20);
    background: linear-gradient(to right, rgb(46, 130, 147), rgb(35, 27, 17));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 490px;
    margin: 15px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 20px;
}
.nav li{
    width: 33.33%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7.5px;
}
.nav a{
    text-decoration: none;
    color: rgb(46, 130, 147);
    width: 100%;
    padding: 20.5px;
    text-align: center;
    background-color: rgb(54, 50, 43);
}

.nav a:hover{
    background-color: rgb(172, 169, 163);
}

#person-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="tel"], textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #a4b316;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d23f1b;
}

.people-container table{
    width: 500px;
    background-color: #ccc;
    font-size: 20px;
}

.people-container td{
    padding: 30px 20px;
}

.people-container {
    width: 500px;
    overflow: hidden;
}

#Main table{
    width: 500px;
    height: 24vh;
    background: none;
    font-size: 20px;
    text-align: center;
}

#Main td{
    width: 50%;
    border: solid 2px rgb(31, 30, 30);
    border-radius: 20px;
    background-color: #ccc;
    padding: 20px;
}

#Main a{
    text-decoration: none;
    padding: 2.5px;
    color: rgb(158, 154, 154);
}

#Main a:hover{
    color: rgb(46, 130, 147);
    font-size: 21.5px;
    transition: all 0.3s ease-in-out; 
}

button{
    width: fit-content;
    padding: 15px 30px;
    margin: 20px;
    border: solid 2.5px rgb(72, 129, 130) ;
    border-radius: 15px;
    color: rgb(46, 130, 147);
    background-color: rgb(54, 50, 43);
    outline: rgb(29,55,69) solid 2px;
}
